@using System.Security.Claims

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Username"] = @Context.User.Claims.FirstOrDefault(claim => claim.Type.Equals(ClaimTypes.Name)).Value;
    ViewData["Email"] = @Context.User.Claims.FirstOrDefault(claim => claim.Type.Equals(ClaimTypes.Email)).Value;
    ViewData["Language"] = @Context.User.Claims.FirstOrDefault(claim => claim.Type.Equals("Language")).Value;

    ViewData["Expends"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_Expends_Es : Resources.NavMenu_Expends_En;
    ViewData["ViewExpends"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_View_Es : Resources.NavMenu_View_En;
    ViewData["CreateExpends"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_Create_Es : Resources.NavMenu_Create_En;

    ViewData["Analysis"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_Analysis_Es : Resources.NavMenu_Analysis_En;
    ViewData["AnalysisPanel"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_Panel_Es : Resources.NavMenu_Panel_En;

    ViewData["User"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_User_Es : Resources.NavMenu_User_En;
    ViewData["UserDeleteAccount"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_DeleteAccount_Es : Resources.NavMenu_DeleteAccount_En;

    ViewData["Logout"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_Logout_Es : Resources.NavMenu_Logout_En;

    ViewData["ButtonClose"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.Button_Close_Es : Resources.Button_Close_En;
    ViewData["ButtonSave"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.Button_Save_Es : Resources.Button_Save_En;

    ViewData["ChangeLangTitle"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_ChangeLang_Title_Es : Resources.NavMenu_ChangeLang_Title_En;
    ViewData["ChangeLangMessage"] = ViewData["Language"].Equals(LANGUAGE_ES) ? Resources.NavMenu_ChangeLang_Message_Es : Resources.NavMenu_ChangeLang_Message_En;

    var AllLanguagesExceptUser = LANGUAGES.Except(new string[] { (string) ViewData["Language"] });
}

<body class="body-layout-menu">
    <aside class="sidebar-container">
        <nav>
            <div id="hide_sidebar_icon" class="sidebar-icon">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="sidebar-figure text-center">
                <a asp-controller="Gastos" asp-action="Index">
                    <figure>
                        <img id="logo_image" src="/images/logo-no-title.png" alt="saveyourmoney-logo"/>
                        <figcaption class="hide-on-change">SAVE YOUR MONEY</figcaption>
                    </figure>
                </a>
            </div>
            <div>
                <ul>
                    <li class="sidebar-list-item-header">
                        <span>@ViewData["Expends"]</span>
                        <ul>
                            <li class="sidebar-list-item" title='@ViewData["ViewExpends"]'><a asp-controller="Gastos" asp-action="Index"><i class="fa fa-university m-r-10 sidebar-li-icon" aria-hidden="true"></i><span class="hide-on-change">@ViewData["ViewExpends"]</span></a></li>
                            <li class="sidebar-list-item" title='@ViewData["CreateExpends"]'><a asp-controller="Gastos" asp-action="Crear"><i class="fa fa-bookmark m-r-10 sidebar-li-icon" aria-hidden="true"></i><span class="hide-on-change">@ViewData["CreateExpends"]</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list-item-header">
                        <span>@ViewData["Analysis"]</span>
                        <ul>
                            <li class="sidebar-list-item" title='@ViewData["AnalysisPanel"]'><a asp-controller="Analisis" asp-action="Index"><i class="fa fa-line-chart m-r-10 sidebar-li-icon" aria-hidden="true"></i><span class="hide-on-change">@ViewData["AnalysisPanel"]</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list-item-header">
                        <span>@ViewData["User"]</span>
                        <ul>
                            <li class="sidebar-list-item" title='@ViewData["UserDeleteAccount"]'>
                                <label id="delete_user_label" for="delete_user"><i class="fa fa-trash m-r-10 sidebar-li-icon" aria-hidden="true"></i><span class="hide-on-change">@ViewData["UserDeleteAccount"]</span></label>
                                <form id="delete_user" asp-controller="Account" asp-action="Delete" asp-route-id="@ViewData["Username"]" method="post">
                                    <input id="__RequestVerificationToken" name="__RequestVerificationToken" type="hidden" value="@Html.AntiForgeryToken()">
                                </form> 
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row no-gutters sidebar-footer m-b-15">
                <div class="col-md-12 col-lg-3 icon-big text-center m-r-15">
                    <i id="logout_icon" class="fa fa-sign-out logout-icon sidebar-li-icon" aria-hidden="true" title='@ViewData["Logout"]'></i>
                    <form class="d-none"></form>
                    <form id="logout_form" asp-controller="Account" asp-action="Logout" asp-route-id="@ViewData["Email"]" method="post" class="d-none"></form>
                </div>
                <div class="col-md-12 col-lg-8 sidebar-footer-claims-container hide-on-change">
                    <p>@ViewData["Username"].ToString().ToUpper()</p>
                    <p>@ViewData["Email"].ToString()</p>
                </div>
            </div>
        </nav>
    </aside>
    <div class="main">
        <header class="header text-center">
            <div class="header-text-container flex-center-center">
                <p>SAVE YOUR MONEY</p>
            </div>
            <select id="lang_select" class="language-container flex-center-center text-center">
                <option value="@ViewData["Language"]">@ViewData["Language"]</option>
                @foreach (var lang in AllLanguagesExceptUser)
                {
                    <option value="@lang">@lang</option>
                }
            </select>
            <form id="langForm" asp-controller="Account" asp-action="ChangeLang" method="post" class="d-none">
                <input id="lang" name="lang" type="text" value='@ViewData["Language"]' />
            </form>
        </header>
        <main role="main" class="pb-3 main_container">
            @RenderBody()
        </main>
    </div>

    <div id="changeLangModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog form-modal-dialog" role="document">
            <div class="modal-content form-modal-body">
                <div class="modal-header form-border-custom">
                    <h5 class="modal-title">@ViewData["ChangeLangTitle"]</h5>
                </div>
                <div class="modal-body">
                    <p>@ViewData["ChangeLangMessage"]</p>
                </div>
                <div class="modal-footer form-border-custom">
                    <button id="closeModalLangButton" class="btn btn-primary">@ViewData["ButtonClose"]</button>
                    <button id="submitModalLangButton" class="btn btn-success">@ViewData["ButtonSave"]</button>
                </div>
            </div>
        </div>
    </div>
</body>

@await RenderSectionAsync("Scripts", required: false)