@model SaveYourMoneyMVC.Models.Account.RegisterModel

@{
    var lang = System.Threading.Thread.CurrentThread.CurrentUICulture.IetfLanguageTag;

    Layout = "~/Views/Account/Shared/_Layout.cshtml";
    ViewData["Title"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_Register_Es : Resources.Account_Register_En;

    ViewData["Welcome"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_WelcomeRegister_Es : Resources.Account_WelcomeRegister_En;
    ViewData["AlreadyMember"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_AlreadyMember_Es : Resources.Account_AlreadyMember_En;
    ViewData["Login"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_LoginHere_Es : Resources.Account_LoginHere_En;

    ViewData["Name"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_Name_Es : Resources.Account_Name_En;
    ViewData["Email"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_Email_Es : Resources.Account_Email_En;
    ViewData["Password"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_Password_Es : Resources.Account_Password_En;
    ViewData["RepeatedPassword"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_RepeatedPassword_Es : Resources.Account_RepeatedPassword_En;
    ViewData["Language"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_Language_Es : Resources.Account_Language_En;
    ViewData["RememberMe"] = lang.Equals(LANGUAGE_ES) ? Resources.Account_Remember_Es : Resources.Account_Remember_En;

    ViewData["ButtonContinue"] = lang.Equals(LANGUAGE_ES) ? Resources.Button_Continue_Es : Resources.Button_Continue_En;
}

<div class="row justify-content-center mb-8">
    <h1 class="col-xs-12 account-header m-b-50">@ViewData["Title"]</h1>
    <div class="col-xs-12 text-center">
        <p class="m-b-5">@ViewData["Welcome"] SaveYourMoney.</p>
        <p>@ViewData["AlreadyMember"] <span><a asp-controller="Account" asp-action="Login">@ViewData["Login"]</a></span></p>
    </div>
</div>
<div class="row justify-content-center mb-5">
    <form class="col-xs-12 col-md-5" asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-xs-12 mb-5">
            <input id="Name" asp-for="Name" class="form-control form-custom" placeholder='@ViewData["Name"]' />
            <div class="m-t-15">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-xs-12 mb-5">
            <input id="Email" asp-for="Email" class="form-control form-custom" placeholder='@ViewData["Email"]' />
            <div class="m-t-15">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-md-6 mb-5">
                <input id="Password" asp-for="Password" class="form-control form-custom" placeholder='@ViewData["Password"]' />
            </div>
            <div class="col-12 col-md-6 mb-5">
                <input id="VerifiedPassword" asp-for="VerifiedPassword" class="form-control form-custom" placeholder='@ViewData["RepeatedPassword"]' />
            </div>
            <div class="col-12">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-12">
                <span asp-validation-for="VerifiedPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group mb-5 m-t-15">
            <div class="col-xs-12 col-md-12">
                <select id="Language" asp-for="Language" class="form-control form-custom">
                    <option value="" disabled selected>@ViewData["Language"]</option>
                    <option value="es-ES">es-ES</option>
                    <option value="en-EN">en-EN</option>
                </select>
            </div>
            <div class="col-xs-12">
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-check mb-5">
            <label class="form-check-label">
                <input id="RememberMe" class="form-check-input" asp-for="RememberMe" /> @ViewData["RememberMe"]
            </label>
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-account">
                <i class="fa-solid fa-circle-arrow-right m-r-10"></i>
                @ViewData["ButtonContinue"]
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
